<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <div>
      <img 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %>'s Avatar"
        class="profile-avatar"
      >
    </div>
  <% } %>
  <% if (recipes.length) { %>
    <h1><%= isSelf ? "Your" : profile.name + "'s" %> Recipes!</h1>
  <% } else { %>
    <h1><%= isSelf ? "You haven't" : profile.name + " hasn't" %> posted any recipes yet!</h1>
  <% } %> 
  <div>
    <div class="container p-10">
      <% recipes.forEach(recipe => { %>
      <div class="row p-4">
        <div class="col">
          <div class="card mb-3 shadow-lg" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                <a class="text-decoration-none" href="/recipes/<%= recipe._id %>">
                  <% if (recipe.imageUrl) { %>
                    <img 
                    class="img-fluid rounded-start profile-show"
                    src="<%= recipe.imageUrl %>" 
                    alt="<%= recipe.name %> Image"
                    />
                  <% } else {%>
                    <img
                      class="img-fluid rounded-start"
                      src="https://i.imgur.com/F7q0fQO.jpeg"
                      alt="A placeholder image"
                    />
                  <% } %>
                </a>
                </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h1 class="card-title"><%= recipe.name %></h1>

                  <% if (recipe.description.length > 300) { %>
                    <% let splitDesc = recipe.description.split(' ') %>
                    <% let editDesc = splitDesc.slice(0, 75).join(' ') %> 
                    <h3 class="card-text"><%= editDesc %> . . .</h3>
                  <% } else { %>
                    <h3 class="card-text"><%= recipe.description %></h3>
                  <% } %>
                  <a class="card-text btn btn-primary" href="/recipes/<%= recipe._id %>">View Recipe</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</main>

<%- include('../partials/footer') %>