<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>All Recipes</h1>

  <% recipes.forEach(recipe => { %>
    <% recipe.populate('author') %> 
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%= recipe.imageUrl %>" alt="<%= recipe.name %> Image">
      <div class="card-body">
        <h5 class="card-title"><%= recipe.name %></h5>
        <p class="card-text">by <%= recipe.author %></p>
        <a href="/recipes/<%= recipe._id %>" class="btn btn-primary">View Recipe</a>
      </div>
    </div>
  <% }) %>
</main>

<%- include('../partials/footer') %>
